

body, 
html {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
footer a{
  color: #D7D4D3;
  text-decoration: none;
 }
footer a:hover{
  color: #a65460;
 }
carro a{
  color: grey;
  text-decoration: none;
 }
carro a:hover{
  color: #a65460;
 }

.caja:hover{
  background-color: #faa7b372!important;
}
.sub:hover{
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #a65460!important;
  text-underline-offset: 5px;
}
.figure {
  position: relative;
  width: 360px; /* can be omitted for a regular non-lazy image */
  max-width: 100%;
}
.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.figure:hover img.image-hover {
  opacity: 1;
}
