

body, 
html {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
footer a{
  color: #D7D4D3;
  text-decoration: none;
 }
footer a:hover{
  color: #a65460;
 }
carro a{
  color: grey;
  text-decoration: none;
 }
carro a:hover{
  color: #a65460;
 }

.caja:hover{
  background-color: #faa7b372!important;
}

